body {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(130, 130, 130);
    color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

li {
    margin-left: 20px;
}


